<ion-grid>
    <ion-list lines="none" class="ion-no-padding">
        <ion-menu-toggle *ngFor="let p of appPages;trackBy:TrackByPageUrl" auto-hide="false">
            <ion-item [routerDirection]="'root'"
                      lines="none"
                      (click)="dispatchAction(p.action)">
                <ion-icon [name]="p.icon" slot="start" size="small"></ion-icon>
                <ion-label>
                    {{p.title}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>
</ion-grid>
