<ion-grid>
    <ion-list>
        <p class="ion-padding-start">标签</p>
        <ion-item *ngFor="let tag of tags$|async;trackBy:TrackByTagId" (click)="goListPage(tag.id)" lines="none">
            <ion-icon name="pricetag-outline" size="small" slot="start"></ion-icon>
            <ion-label>{{tag.name}}</ion-label>
        </ion-item>
        <ion-item (click)="openTagModal()" lines="none">
            <ion-icon name="brush-outline" size="small" slot="start"></ion-icon>
            <ion-label>修改标签</ion-label>
        </ion-item>
    </ion-list>
</ion-grid>
