<ion-row>
    <ion-col>
        <ion-icon name="close" (click)="resetTagName()"></ion-icon>
    </ion-col>
    <ion-col size="6">
        <ion-input type="text"
                   placeholder="创建新标签"
                   #tagInput
                   debounce="250"
                   [value]="tempTagName$|async"
                   (ionChange)="tagInputChange($event)"
        ></ion-input>
    </ion-col>
    <ion-col>
        <ion-button (click)="doCreate(tagInput?.value)">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-col>
</ion-row>
