<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="medium"></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-left">
            {{(chosenTag$|async)?.name}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-spinner name="crescent" *ngIf="isLoading$|async;else loadFinish "></ion-spinner>
            <ng-template #loadFinish>
                <ion-button>
                    <ion-icon name="refresh-outline" slot="icon-only"
                    ></ion-icon>
                </ion-button>
            </ng-template>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>list content</p>
    <app-add-list></app-add-list>
    <ion-list>
        <ion-list-header>列表</ion-list-header>
        <ion-item *ngFor="let item of lists$|async;trackBy:trackByItemId">
            <span>{{item|json}}</span>
        </ion-item>
    </ion-list>
</ion-content>
