<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-left">
            {{(chosenTag$|async)?.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>list content</p>
    <app-add-list></app-add-list>
    <ion-list>
        <ion-list-header>列表</ion-list-header>
        <ion-item *ngFor="let item of lists$|async;trackBy:trackByItemId">
            <span>{{item|json}}</span>
        </ion-item>
    </ion-list>
</ion-content>
